body{
	font-family: 'Raleway', sans-serif;
    font-size: 25px;
    background-image: url('https://img.freepik.com/free-photo/brown-paper-texture-background_36078-19.jpg?size=338&ext=jpg');
    background-size: 100% 120%;
    background-repeat: no-repeat;
}




img{
    height: 220px;
    border-bottom: solid 10px black;
}

h1{
    text-align: center;
}

.btn-primary,.reset{
	background-color: #996633;
	color: white;
	font-family: 'Sigmar One', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 100px;
}
.btn-primary:hover, .reset:hover{
	background-color: #d2a679;
}

.container{
	margin-top: 10px;
	text-align: center;
	height: 100%;
	width: 700px;
}

h2, #message, #finalMessage{
	font-family: Sigmar One;
}

.thisChoice:hover{
	background-color: #d2a679;
	color: white;
	padding: 10px;
}

#gif{
	margin: 30px;
}

@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
}